// Color variables

$yellow: #FECB4F;
$blue: #9CE5DF;
$red: #F0695E;
$tan: #EAE1D9;

$highlight: #000;
$link: $blue;
$bgcolor: $blue;
$accent:  #000;

// other variables

$trans-time: .5s;

$border: solid 1px #ddd;

// break points

$mobile: 450px;

$colors: 'yellow' $yellow, 'blue' $blue, 'red' $red, 'tan' $tan;

$font: 'europa', Helvetica, Arial, sans-serif;
