{% extends "base.twig" %}

{% block content %}
  <!-- <div class="aboutTopper">
    <img src="/wp-content/themes/beBrave/static/img/logoIcon.svg" class="aboutTopper-img">
    <h2 class="aboutTopper-h1">Thanks for listening!</h2>
  </div> -->
  <div class="aboutText">
    <!-- <img src="/wp-content/themes/beBrave/static/img/logoIcon.svg" class="aboutTopper-img"> -->
    <h2 class="about-h1">What&rsquo;s This All About</h2>
    <p class="aboutText-p">Be Brave Podcast is a collaboration between childhood friends; designer Chris DeLorenzo, designer and developer Nathan Hass and journalist David Tanklefsky. The podcast was created as a means to shine a light on young, creative people forging their own path in a weird world. We chat with the bravest of assorted dream-chasers: musicians, designers, artists, entrepreneurs, writers, yoga teachers and cocktail makers. Be brave is a simple statement that reflects the direction arrow we hope to follow when anxiously navigating the vicissitudes of life. It's a repudiation of the saying &ldquo;to err on the side of caution.&rdquo; When you don't know which way to go, be brave.</p>
  </div>
  <div class="aboutProfiles">
    <div class="aboutProfiles-width">
      <!-- <h2 class="aboutProfiles-overline">This is who we are</h2> -->

      <h2 class="about-h1">Who We Are</h2>
      <ul class="aboutProfiles-grid">
        <li class="aboutProfiles-gridItem">
          <div class="aboutProfiles-imgMod"><img src="/wp-content/themes/beBrave/static/img/chris.jpg" class="aboutProfiles-img"></div>
          <h4 class="aboutProfiles-gridName">Chris Delorenzo</h4>
          <p class="aboutProfiles-gridText">Chris is a graphic artist and designer breathing and working in Boston. By day he is the lead designer for Johnny Cupcakes, and by night he lends his hand and ideas illustrating for global brands of all kinds like Jameson Irish Whiskey, Lincoln Motor Company, Converse, Sony and more. He likes simple bold lines and the poetry in an image. </p>
        </li>
        <li class="aboutProfiles-gridItem">
          <div class="aboutProfiles-imgMod"><img src="/wp-content/themes/beBrave/static/img/david.jpg" class="aboutProfiles-img"></div>
          <h4 class="aboutProfiles-gridName">David Tanklefsky</h4>
          <p class="aboutProfiles-gridText">David is a writer, journalist, radio broadcaster, musician and sports play-by-play broadcaster. Among his anecdotal claims to fame would be: serving on the jury of a murder trial, interviewing Jerry Seinfeld, announcing the starting lineups at Fenway Park and calling the first perfect game in the history of North Carolina's Coastal Plain League. He was born, lives and works in Boston, Massachusetts. </p>
        </li>
        <li class="aboutProfiles-gridItem">
          <div class="aboutProfiles-imgMod"><img src="/wp-content/themes/beBrave/static/img/nathan.jpg" class="aboutProfiles-img"></div>
          <h4 class="aboutProfiles-gridName">Nathan Hass</h4>
          <p class="aboutProfiles-gridText">Nathan is a Boston based designer who specializes in user experience and interaction design. During the days you can find him designing and building websites at <a href=“http://upstatement.com/”>Upstatement</a> for clients like Random House Books, Esri, and Boston.com.</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="aboutContact">
   <h2 class="about-h1">Get in touch</h2>
   <div class="aboutContact-form">{{post.content}}</div>
  </div>
{% endblock %}
